@import url('p/header__open-pop-up-button_p.css');
.header__open-pop-up-button {
    display: flex;
    position: absolute;
    width: 206px;
    top: 30.5px;
    left: 30px;
    height: 39px;
    background: #A5C7F9;
}